/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 45%;
  height: 400px;
  /*background: #e6e5e4;*/
  /*border: 2px solid #DEDEDE;*/
  /*margin: 20px;
  padding: 10px;*/
}


/*.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  border-color: white;
  background: #52CC52;
  z-index: 2;
}
*/