<template name="nav">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <!-- <img class="logo" src="assets/images/logo.png">  -->
                Web integration examples
            </a>
            <div class="ui simple dropdown item">
                IFrame <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{pathFor 'hub'}}">The hub</a>
                    <a class="item" href="{{pathFor 'app'}}">1 app</a>
                    <a class="item" href="{{pathFor '1chart'}}">1 chart</a>
                    <a class="item" href="{{pathFor 'multipleCharts'}}">Multiple charts</a>                    
                </div>
            </div>
            <div class="ui simple dropdown item">
                Div tags <i class="dropdown icon"></i>
                <div class="menu">
                    <!-- <a class="item" href="{{pathFor 'divSheet'}}">See 1 sheet</a> -->
                    <a class="item" href="{{pathFor 'multipleDivs'}}">Multiple charts</a>
                    <a class="item" href="{{QlikSenseDemoURL}}/extensions/DemoMashup/home.html">Citybike (example demo shop with Qlik embedded)</a>
                    <!-- <a class="item" href="{{pathFor 'multipleDivsAndCustomControls'}}">See multiple charts combined with custom HTML object filled with Sense data</a> -->
                </div>
            </div>            
            <!-- <a class="item" href="{{SaaSDemoURL}}">Back to SaaS multi tenant demo</a> -->
            <!-- <a class="item" href="/admin">Admin console</a> -->
            
        </div>
    </div>
</template>
