<template name='multipleDivs'>
    <div class="ui segment">
        <div class="ui icon message">
            <img class="icon" src="/images/webIntegration.png">
            <div class="content">
                <div class="header">
                    <h4>DIV tag Integration</h4>
                </div>
                <ul>
                    <li>These charts are created using the <a href="{{QlikSenseDemoURL}}/dev-hub/">the Sense dev-hub.</a> </li>
                    <li>You just have to copy the generated code in your website, or use the Visual Studio Plugin</li>
                    <li>Next to showing our charts, you can also obtain a <a href="https://help.qlik.com/en-US/sense-developer/3.1/Subsystems/Dev-Hub/Content/MashupEditor/mashup-editor-field-list-builder.htm" >list</a> of values or complete "hyperCube/table. In this way you can fill your own HTML, javascript or whatever you like to populate.</li>
                    <li>The DIV tags connect to the local require.js on your server which connects to the Sense Server</li>
                    <li>Ensure you copy our fonts,css and require.js to your webserver.</li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="ui center aligned header">Sense charts in a Grid</h3>
    <div class="ui two column doubling grid">
        <div class="column">
            <div class="ui segment">
                <div id="QV01" class="ui  Qdiv"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div id="QV02" class="ui  Qdiv"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div id="QV03" class="ui  Qdiv"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div id="QV04" class="ui  Qdiv"></div>
            </div>
        </div>
    </div>
</template>
