<template name='multipleDivs'>
    <div class="ui segment">
        <div class="ui icon message">
            <img class="icon" src="/images/webIntegration.png">
            <div class="content">
                <div class="header">
                    <h4>Div tag Integration</h4>
                </div>
                <ul>
                    <li>These charts are created using the <a href="http://{{QlikSenseDemoURL}}/dev-hub/"> the Sense dev-hub</a> </li>
                    <li>You just have to copy the generated code in your website, or use the Visual Studio Plugin</li>
                    <li>The Div tags connect to the local require.js which connects to the Sense Server</li>
                    <li>Ensure you copy our fonts and css to your webserver</li>
                    <li>Ensure you copy our require.js from C:\Program Files\Qlik\Sense\Client\assets\external\requirejs</li>
                </ul>
            </div>
        </div>
    </div>
    <h3 class="ui center aligned header">Sense charts in a Grid</h3>
    <div class="ui two column doubling grid">
        <div class="column">
            <div class="ui segment">
                <div id="QV01" class="ui  Qdiv"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div id="QV02" class="ui  Qdiv"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div id="QV03" class="ui  Qdiv"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div id="QV04" class="ui  Qdiv"></div>
            </div>
        </div>
    </div>
</template>


