<template name="1chart">
    <div class="container">
        <div class="ui segment">
            <div class="ui icon message">
                <img class="icon" src="images/webIntegration.png">
                <div class="content">
                    <div class="header">
                        <h4>IFrame Integration: 1 chart in Iframe</h4>
                    </div>
                    <ul>
                        <li>Demo which shows a that you can integrate 1 Sense chart in your page using an IFrame </li>
                        <li>With an HTML IFrame you can show a website inside another website</li>
                        <li>In the example below we included this URL: {{chartIframeURL}} </li>
                        <li>Look at the url, via parameters you can include or remove selections and disable interactivity, and include a selection bar</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="ui segment">
        <iframe src="{{chartIframeURL}}" width="100%" height="600" ></iframe>
        </div>
    </div>
</template>
