<template name="1chart">

	<div class="ui message">
		<div class="header">
			Demo which shows a that you can integrate 1 Sense chart in your page using an IFrame 
		</div>
		<ul class="list">
			<li>A single line of code shows each chart individually</li>
			<li>This Iframe connects to sense-demo.qlik.com</li>
			<li>iframe src="https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=pDKRhr&opt=nointeraction&select=clearall"</li>
		</ul>
	</div>

	<iframe src="https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=pDKRhr&opt=nointeraction&select=clearall" width="100%" height="900" ></iframe>

</template>