<template name='app'>
    <div class="ui segment">
        <div class="ui icon message">
            <img class="icon" src="/images/webIntegration.png">
            <div class="content">
                <div class="header">
                    <h4>IFrame Integration: App</h4>
                </div>
                <ul>
                    <li>This demo shows a that you can integrate one Qlik Sense app using an IFrame </li>
                    <li>With an HTML IFrame you can show a website inside another website.</li>
                    <li>This is, next to integrating the Hub, the most simple and loosely coupled integration.  You will use our Qlik Sense client (the Hub) to  display and modify content like apps and sheets</li>
                    <li>This page includes an Iframe object which points to the app on the Sense server</li>
                    <li>In the example below we included: {{appURL}} </li>
                </ul>
            </div>
        </div>
    </div>
    <iframe src={{appURL}} width="100%" height="900"></iframe>
</template>
