<template name="hub">
<div class="container">
        <div class="ui segment">
            <div class="ui icon message">
                <img class="icon" src="/images/webIntegration.png">
                <div class="content">
                    <div class="header">
                        <h4>IFrame Integration: Hub</h4>
                    </div>
                    <ul>
                        <li>Demo which shows a that you can integrate 1 Sense chart in your page using an IFrame </li>
                        <li>With an HTML IFrame you can show a website inside another website</li>
                        <li>In the example below we included help.qlik.com</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="ui segment">
            <iframe src="{{hubURL}}" width="100%" height="900"></iframe>
        </div>
    </div>	
</template>


  