<template name="multipleCharts">
    <div class="ui segment">
        <div class="ui icon message">
            <img class="icon" src="/images/webIntegration.png">
            <div class="content">
                <div class="header">
                    <h4>Demo which shows a stackable Grid using separate IFrames connecting to sense-demo.qlik.com</h4>
                </div>
                <ul>
                    <li>A single line of code shows each chart individually</li>
                    <li>Each IFrame is connected to all the others because they share a user session</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui segment">
                <iframe class="qChart" src='https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=pDKRhr&select=clearall' frameborder='0'></iframe>
            </div>
        </div>
        <div class="column">
            <div class="ui segment ">
                <iframe class="qChart" src='https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=BHTXyNM&select=clearall' frameborder='0'></iframe>
            </div>
        </div>
        <div class="column">
            <div class="ui segment ">
                <iframe class="qChart" src='https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=tmaqpf&select=clearall' frameborder='0'></iframe>
            </div>
        </div>
        <div class="column">
            <div class="ui segment ">
                <iframe class="qChart" src='https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=JEBdZz&select=clearall' frameborder='0'></iframe>
            </div>
        </div>
    </div>
</template>
