<template name="multipleCharts">
    <div class="ui segment">
        <div class="ui icon message">
            <img class="icon" src="/images/webIntegration.png">
            <div class="content">
                <div class="header">
                    <h4>Demo which shows a stackable Grid using separate IFrames connecting to sense-demo.qlik.com</h4>
                </div>
                <ul>
                    <li>A single line of code shows each chart individually</li>
                    <li>Each IFrame is connected to all the others because they share a user session</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui segment">
                <iframe src='http://52.50.134.241:81/meteor/single/?appid=6bd9b09d-15ad-4d3e-8149-dbb32ce1e1b0&obj=Ggpaxa&select=clearall' style='border:none;'></iframe>
            </div>
        </div>
        <div class="column">
            <div class="ui segment ">
                <iframe class="qChart" src='http://52.50.134.241:81/meteor/single/?appid=6bd9b09d-15ad-4d3e-8149-dbb32ce1e1b0&obj=eBwDCmJ&select=clearall' style='border:none;'></iframe>
            </div>
        </div>
        <div class="column">
            <iframe class="qChart" src='http://52.50.134.241:81/meteor/single/?appid=6bd9b09d-15ad-4d3e-8149-dbb32ce1e1b0&obj=LVqUFme&select=clearall' style='border:none;'></iframe>
        </div>
    </div>
    <div class="column">
        <div class="ui segment ">
            <iframe class="qChart" src='http://52.50.134.241:81/meteor/single/?appid=6bd9b09d-15ad-4d3e-8149-dbb32ce1e1b0&obj=psUdVVJ&select=clearall' style='border:none;'></iframe>
            <!--  <iframe class="qChart" src='https://sense-demo.qlik.com/single?appid=075506ed-73ee-4f1a-b9a0-1955df0bb3e0&obj=JEBdZz&select=clearall' frameborder='0'></iframe> -->
        </div>
    </div>
</template>
